@import '../../style/mixins.scss';
.h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  text-rendering: optimizeLegibility;
}

.search {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c3c0c0;
  border-radius: 16px;
  outline: none;
  padding: 16px 16px 16px 40px;
  margin-top: 110px;
  @include text;
  font-style: italic;
}
